body {
    background-color: #68cdd5;
}
.jg-box{
    height: 120px;
}
.two{
     text-align: center;
}
.text {
    float: left;
    margin-top: 14rem;
    margin-left: 30px;
}
.four {
    float: right;
    margin-top: 14rem;
    margin-right: 30px;
}
    .arrows {
        padding: 3px;;
        line-height: 20px;
        text-align: center;
        color: #ffff;
    }
    .gun{
        color: #fff;
    }
.gou{
    color: #fff;
    margin-left: 8px;
}











