body{
    margin: 0;
}
.box{
    background-color: #5fc0cd;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;z-index: 1;
}
box1{
    top: 50%;
    height: 100px;
    margin-top: -50px;
}
.employer{
    height: 35px;
    background: #55a8b3;
    width: 20%;
    text-align: center;
    align-self: flex-end;
        border-radius: 6px;
    line-height:35px;
    color: #ffff;
    font-size:22px;
    float: right;
    margin-right: 13%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    margin-top: 10px;
}
.nursing{
    height: 35px;
    background: #fff;
    width: 20%;
    text-align: center;
    align-self: flex-end;
    border-radius: 6px;
    line-height:35px;
    color: #5fc0cd;
    font-size:22px;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    margin-top: 10px;

}
.picture{
    float: right;
    margin-top: 10px;
}
.two{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1e5e7;
}
.two10{
    display: flex;
    justify-content: center;
    height: 65px;
    font-size:17px;
    margin: 0;
    padding: 0;
}
.two11{
    width: 100%;
    text-align-last: center;
    color: #999999;

}
.two12{
    font-size:17px;
}
.two20 {
    display: flex;
    justify-content: center;
    height: 65px;
    font-size:17px;
    margin: 0;
    padding: 0;
}
.two21{
    width: 100%;
    text-align-last: center;
    color: #999999;

}
.two22{
    font-size:17px;
}
.two30{
    display: flex;
    justify-content: center;
    height: 65px;
    margin: 0;
    padding: 0;
    font-size: 17px;
}
.two31{
    width: 100%;
    text-align-last: center;
    color: #999999;
    font-size: 17px;

}
.two32{font-size:17px;
}
.rim{
    border-bottom: 1px solid #e1e5e7;
}
.first {
    height: 115px;
    line-height: 38px;
    text-align: left;
}
.second{
    font-size:17px;
    display: flex;
    align-items: center;
}
.serve{
    margin-left: 15px;
    color: #999999;
}
.thirdly{
    font-size:17px;
    margin-left: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.box2{
    margin-top: 119px;
}
.fifth{
    font-size:17px;
    display: flex;
    align-items: center;
}.beijing{
     margin-left: 15px;
     color: #999999;
 }
.time{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: red;
}
.time1{
    font-size:17px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tail{
    height: 70px;
    background-color: #f8fafb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.tail2{
margin-left: 2px;
    color: #5fc0cd;
}
.tail4{
margin-left: 2px;
    color: #999999;
}