body{
    margin: 0;
    padding: 0;
}
.maximum{
    background-color: #5fc0cd;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boos{
display: flex;
    border-radius: 6px;
    background-color: #55a8b3;
}
.thetop{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.loin{
    margin-top: 135px;
}
.kong{
    width: 48px;
}
.box5{
margin-bottom: 100px;
}
.employer{
    height: 50px;
    background: #55a8b3;
    width: 90px;
    text-align: center;
    border-radius: 6px;
    line-height:50px;
    color: #ffff;
    font-size:22px;
}
.nursing{
    height: 50px;
    background: #fff;
    width: 90px;
    text-align: center;
    border-radius: 6px;
    line-height:50px;
    color: #5fc0cd;
    font-size:22px;
}
.picture{
    margin-right: 24px;
}
.two{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.january{
    display: flex;
    justify-content: center;
    height: 65px;
    font-size:17px;
    margin: 0;
    padding: 0;
}
.february{
    width: 100%;
    text-align-last: center;
    color: #999999;
    border-bottom: 1px solid #e1e5e7;
    border-right: 1px solid #e1e5e7;
    font-size: 17px;
}
.march{
    font-size:17px;
}
.april{
    display: flex;
    justify-content: center;
    height: 65px;
    font-size:17px;
    margin: 0;
    padding: 0;
}
.may{
    width: 100%;
    text-align-last: center;
    color: #999999;
    border-bottom: 1px solid #e1e5e7;
    border-right: 1px solid #e1e5e7;
}
.june{
    font-size:17px;
}
.july   {
    display: flex;
    justify-content: center;
    height: 65px;
    margin: 0;
    padding: 0;
    font-size: 17px;
}
.august{
    width: 100%;
    text-align-last: center;
    color: #999999;
    font-size: 17px;
    border-bottom: 1px solid #e1e5e7;
}
.september{font-size:17px;
}
.first{
    line-height: 38px;
    padding-right: 0px;
}
.second{
    font-size:17px;
    display: flex;
    align-items: center;
}
.serve{
    margin-left: 15px;
    color: #999999;
}
.thirdly{
    font-size:17px;
    margin-left: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fifth{
    font-size:17px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e5e7;
}
.beijing{
     margin-left: 15px;
     color: #999999;
 }
.time{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: red;
    border-bottom: 1px solid #e1e5e7;
}
.monday{

}
.tail{
    height: 100px;
    background-color: #f8fafb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.home{
text-align: center;
    color: #5fc0cd;
}
.night{
    text-align: center;
    color: #999999;
}
select{
    border:none;
}
