body{
    margin: 0;
    background-color: #5fc0cd;
}
.topmost{
    background-color: #5fc0cd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.tou{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-right: 23px;
    margin-left: 23px;
}
.book{
    width: 12px;
    height: 14px;
}
.fork{
    width: 14px;
    height: 14px;

}
.piao{
    display: flex;
    font-size: 18px;
    justify-content: center;
}
.fa{
    background-color: rgba(255,255,255,0.6);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.yan{
    margin-left: 50px;
}
.music{
    height: 30px;
    width: 30px;
}
.frequency{
    width: 100px;
    margin-bottom: 5px;
    margin-top: -43px;
    display: flex;
}
.start{
    opacity:0.0;
    transform: rotate(90deg);
}
audio{
    width: 110px;
    margin: 58px -111px 22px 0px;
}
.yellow{
    margin-left: 53px;
    margin-top: 77px;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    border-top: 15px solid rgba(255,255,255,0.6);
    margin-left: 63px;
}
.dian{
    margin-left: 67px;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 20px;
}
.monday{
    text-align: center;
    background-color: #f5c97b;
    height: 18vw;
    Border: 6px solid #ffffff;
    margin-top: 3vw;
    position:relative;
}
.first{
    background-color: #83b09a;
    position:absolute;
    bottom:0;
    width: 100%;
    color: #ffffff;
    font-size: 3vw;
}
.middle{
    height: 95px;
}
.sit{
    width: 23vw;
    height: 6vw;
    margin-top: 3vw;
    opacity:0.0
 }
.second{
    display: flex;
    justify-content: space-around;
}
.civilian{
    margin-top: 4vw;
    font-size: 4vw;
}
.bottom{
    text-align: center;
    font-size: 25px;
    background-color: #fbb435;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 15px;

}
.cast{
    color: #ffffff;
    text-decoration:none;
}
.outer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #29bde0;
    height: 45px;
}
.empty{
    height: 45px;
}
.lead:hover .sit{
    opacity:1;
}